*{
    padding: 0;
    margin: 0;
    border: 0;
}

*,*:before,*:after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html, body{
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: -1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
input,button,textarea   {font-family: inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding:0; border:0;}
a, a:visited{text-decoration: none;}
a:hover {text-decoration: none;}
ul li{list-style:none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6 {font-size: inherit; font-weight: 400;} 
/*--------------------------------------------------------------------------------*/
::-webkit-scrollbar {
    width: 0;
}
body{
    font-family: 'Ubuntu', sans-serif;
}
.slider__wrapper{
    overflow: hidden;
}
.wrapper__top {
    display:flex;
    flex-direction: column;
    padding: 0 260px;
}
.wrapper__bottom{
    display:flex;
    flex-direction: row;
    padding: 0 160px;
}
.content__slider{
    display:flex;
    flex-direction: row;
}
.diagonal__box{
    position:absolute;
    width: 1400px;
    height: 960px;
    left: 0px;
    overflow-y: hidden;
    overflow-x: hidden;
    border-right: 190px solid transparent;
    z-index: 0;
}
.diagonal__box.green{
    border-top: 960px solid #138F5B;
}
.diagonal__box.blue{
    border-top: 960px solid #0D41A7;
}
.diagonal__box.pink{
    border-top: 960px solid #9C10B4;
}
.logo__text, .logo__text__online{
    font-weight: 300;
    font-size: 22px;
    line-height: 120%;
    color: #FFFFFF;
}
.logo__text__online.green{
    color: #0ED984;
}
.logo__text__online.blue{
    color: #3577F6;
}
.logo__text__online.pink{
    color: #D72DF3;
}
.logo {
    width: 30px;
    height: 30px;
    margin: 0 5px;
}
.main {
    position: relative;
    height: 960px;
    width: 100%;
}
.main.green{
    background: url(../img/backgrounds/bg_green.PNG);
}
.main.blue{
    background: url(../img/backgrounds/bg_blue.PNG);
}
.main.pink{
    background: url(../img/backgrounds/bg_pink.PNG);
}
.header {
    display: flex;
    align-items: center;
    padding: 70px 0 0 0;
    margin: 0 0 195px 0;
    z-index: 2;
}
.arrow__left{
    top: 480px;
    left: 76.5px;
}
.arrow__left,.arrow__right{
    position: absolute;
    z-index:2;
    width: 50px;
    height: 50px;
    opacity: 0.3;
}
.arrow__left span, .arrow__right span{
    position: absolute;
    width: 0;
    height: 3px;
    top: 26.5px;
    transition: all 0.3s ease 0s;
    background-color: #FFF;
}
.arrow__left span{
    left: 5px;
}
.arrow__left:before,.arrow__left:after,.arrow__right:before,.arrow__right:after{
    content:'';
    background-color: #fff;
    position: absolute;
    width: 35px;
    height: 3px;
    transition: all 0.3s ease 0s;
}
.arrow__left:before{
    top: 15px;
    transform: rotate(-45deg);
}
.arrow__left:after{
    top: 38px;
    transform: rotate(45deg);
}
.arrow__right{
    top: 480px;
    right: 76.5px;
}
.arrow__right span{
    right: 5px;
}
.arrow__right:before{
    top: 15px;
    right: 0;
    transform: rotate(45deg);
}
.arrow__right:after{
    top: 38px;
    right: 0;
    transform: rotate(-45deg);
}
.arrow__right:hover,.arrow__left:hover{
    opacity: 1;
}
.arrow__right:hover span,.arrow__left:hover span{
    width: 50px;
}
.content {
    display: flex;
    flex-direction: column;
    z-index: 2;
}
.content__title{
    font-size: 20px;
    line-height: 120%;
    margin: 0 0 25px 0;
}
.content__title.green{
    color: #0ED984;
    width: 85px;
    border-bottom: 3px solid #0ED984;
}
.content__title.blue{
    color: #3577F6;
    width: 131px;
    border-bottom: 3px solid #3577F6;
}
.content__title.pink{
    color: #D72DF3;
    width: 140px;
    border-bottom: 3px solid #D72DF3;
}
.content__subtitle {
    font-size: 96px;
    line-height: 110%;
    color: #FFF;
    margin: 0 0 45px 0;
    width: 100%;
    max-width: 1000px;
}
.content__text {
    font-size: 20px;
    color: #FFF;
    margin: 0 0 133px 0;
}
.content__text__addition {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: 300;
    line-height: 125%;
}
.content__text__addition p{
    width: 100%;
    max-width: 600px;
    margin: 0 20px 0 0;
}
.content__button {
    font-size: 20px;
    line-height: 120%;
    color: #FFF;
    padding: 18px 50px;
    background: none;
    color: #FFF;
    border: 2px dashed #FFF;
    transition: 0.5s;
}
.content__button:hover{
    background: #FFF;
}
.content__button.green:hover{
    color: #0ED984;
}
.content__button.blue:hover{
    color: #3577F6;
}
.content__button.pink:hover{
    color: #D72DF3;
}
.slider {
    z-index: 2;
    display:flex;
    flex-direction: row;
    align-items: center;
}
.first__circle, .second__circle, .third__circle{
    border-radius:50%;
    border: 2px solid #FFF;
    width: 15px;
    height: 15px;
    margin: 0 20px 0 0;
    cursor: pointer;
}
.third__circle{
    margin: 0;
}
.first__circle.green,.second__circle.blue,.third__circle.pink{
    border-radius:0;
    border: none;
    width: 25px;
    height: 25px;
    margin: 0 20px 0 0;
}
.first__circle.green{
    background: url(../img/logo_green.svg) center center;
}
.second__circle.blue{
    background: url(../img/logo_blue.svg) center center;
}
.third__circle.pink{
    background: url(../img/logo_pink.svg) center center;
}
.second__circle.green:hover,.third__circle.green:hover{
    border: 2px solid #0ED984;
}
.first__circle.blue:hover,.third__circle.blue:hover{
    border: 2px solid #3577F6;
}
.first__circle.pink:hover,.second__circle.pink:hover{
    border: 2px solid #D72DF3;
}

/*--------------------------illustration-------------------------------*/

.illustration {
    display: flex;
    align-items: center;
    justify-content: center;
}
.illustration__card{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 80px 0;
    margin: 80px 0 130px 0;
}
.illustration__token {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 425px;  
    max-width: 500px;
    margin: 0 50px 0 0;
    padding: 75px 20px 75px 0;
    border-right: 3px solid  #F2F2F2;
}
.illustration__token:last-child{
    margin: 0;
    border: none;
}
.illustration__token__img {
    width: 75px;
    height: 75px;
    margin: 0 0 30px 0;
}
.illustration__token__title {
    font-size: 36px;
    line-height: 115%;
    color: #1D1A1A;
}
.illustration__token__title.green{
    color:  #0ED984;
}
.illustration__token__title.blue{
    color: #3577F6;
}
.illustration__token__title.pink{
    color: #D72DF3;
}
.illustration__token__title.pink,.illustration__token__title.blue,.illustration__token__title.green{
    margin: 0 0 25px 0;
}
.illustration__token__text {
    font-weight: 300;
    font-size: 20px;
    line-height: 130%;
    color: #615D5D;
}

/*--------------------------request-------------------------------*/

.request {
    height: 528px;
    display: flex;
    align-items: center;

    background: #F3F3F3;
}
.request__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.request__text {
    margin: 0 40px 0 0;
}
.request__title {
    font-size: 66px;
    line-height: 110%;
    color: #1D1A1A;
}
.request__subtitle {
    font-weight: 300;
    font-size: 20px;
    line-height: 130%;
    color: #615D5D;
    margin: 30px 0 0 0;
}
.request__input {
    display:flex;
    flex-direction: column;
    width: 100%;
}
.input__form{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 0 42px 0;
}
input::placeholder{
    color: #C5C5C5;
}
input:hover::placeholder{
    color:#999;
}
.request__input__name {
    margin: 0 25px 0 0;
    width: 100%;
    max-width: 275px;
    height: 65px;
    padding: 0 0 0 20px;
}
.request__input__phone {
    margin: 0 25px 0 0;
    width: 100%;
    max-width: 275px;
    height: 65px;
    padding: 0 0 0 20px;
}
.request__button {
    background: #138F5B;
    padding: 21px 30px 20px;
    font-size: 20px;
    line-height: 120%;
    width: 100%;
    max-width: 220px;
    height: 65px;
    color: #FFFFFF;
    transition: 0.5s;
}
.request__button:hover{
    background: #04643C;
}
.request__agree {
    font-weight: 300;
    font-size: 16px;
    line-height: 130%;
    color: #A6A6A6;
}
.request__agree a{
    color: #A6A6A6;
    text-decoration: underline;
}
footer{
    display: flex;
    align-items: center;
    background: #1D1A1A;
    height: 65px;
}